body {
    font-family: 'Karla', sans-serif;
    background-color: #f8f3c0;
    color: #2e58a6;
}

h1 {
    font-size: 4em;
    display: block;
    margin: 0 auto;
    text-align: center;
}

main {
    width: 70%;
    margin: 6em auto;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 12em);
    justify-content: center;
}

.dice-area {
    display: flex;
    margin: auto auto;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 4em auto;
}

.die {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    background-color: #ff4040;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1em 1em;
}

.die span {
    display: block;
    margin: 10px;
    text-align: center;
    font-size: 1.25em;
    text-transform: capitalize;
}

.die i {
     font-style: italic;
     text-transform: lowercase;
 }

.die span:nth-child(n+2):before {
    content: "";
    display: block;
    width: 20px;
    margin: auto;
    position: relative;
    top: -10px;
    border-top: 1px solid #ffffff;
}

button {
    border: none;
    color: #ffffff;
    background-color: #2e58a6;
    padding: .5em 1em;
    width: 200px;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    margin: 0 auto;
    font-size: 1.5em;
}

button:hover {
    background-color: #ff4040;
}

.link {
    margin: 6em auto;
    text-align: center;
    max-width: 100%;
}


a {
    color: inherit;
}

a:hover {
    color: #ff4040;
}

footer {
    background: #fff;
    padding: 3em;
    text-align: right;
}

footer ul li {
    margin: .5em;
}

@media only screen and (max-width: 450px) {
    h1 {
        font-size: 15vw;
    }
    footer  {
        padding: 3em 1em;
    }
}
